## Тёма сказал, что файлы, которые я сюда запишу заливаться на гитхаб не будет
.idea
.venv

__pycache__

klever_dict.json

# Локальные программы для тестирования
test.py
for_testing.py
about.py

# Более продвинутый макет интерфейса
interf+.py

# Иконка приложения в нормальном качестве но не том формате
ico.png